<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Mission to Mars</title>
  </head>

  <div class="container-fluid">

  <body>
    <div class="jumbotron text-center">
      <h1 class="display-3" ><b>Mission to Mars</b></h1>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
      </p>
    </div>

    <div class="container-fluid">
      <h2><b>Latest Mars News</b></h2>
      <h5>{{ mars_dict.news_title }}</h5>
      <p>{{ mars_dict.news_text }}</p>
    </div>

    <div class="container-fluid">
      <div class="row">
      <div class="col-md-8">
        <h2><b>Featured Mars Image</b></h2>
        <img src="{{ mars_dict.featured_image }}" alt="Featured Mars Image" style="max-width:600px; max-height: 800px;">
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 27rem;">
           <h5>Mars Facts</h5>
        <div>{{ mars_dict.facts_table |safe }}</div>
      </div>
      </div>
    </div>
    <br>
    <div class="container-fluid text-center">
      <h3 style="padding-top: 50px; margin-top: 100px; text-align: center;">Mars Hemispheres</h3>
      <div class="row">
        {% for img in mars_dict.hemisphere_img %}
        <div class="col-md-6">
          <div class="card text-white bg-dark" style="margin: 30px;">
            <img src="{{ img.image_url }}" class="card-img-top" alt="{{ img.title }}">
            <div class="card-body">
              <p class="card-text"><b> {{ img.title }} </b></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      </div>

    </div>

  </body>
  </div>
</html>